# DataTable 
DataFrame =  Table 
row = entry = record

In [2]:
import pandas as pd
df_e1 = pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})
df_e2 = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

In [79]:
#Here instead of the default indexes 0,1 we can declare ourselves. 
df_e3_i = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
#              index=['ProductA', 'ProductB'])
                index=[0,1])
df_e3 = pd.DataFrame({'Bob': ['I liked it.', 'It was awful.',"x"], 
              'Sue': ['Pretty good.', 'Bland.',"y"]},
             index=['ProductA', 'ProductB',"ProductC"])
#                 index=[0,1])
df_e3.shape #gets the size of the df
df_e3

                    Bob           Sue
ProductA    I liked it.  Pretty good.
ProductB  It was awful.        Bland.
ProductC              x             y

In [48]:
type(df_e3.Bob)

pandas.core.series.Series

In [68]:
#df_e3.Sue df_e3['Sue']
#ILOC returns a series
# df_e3.Bob[0] df_e3.Bob.0 not working ->>><<> <3
df_e3.iloc[0] #Gets the first row data  
df_e3.iloc[:,0] #gets all data but the first column
df_e3.iloc[[0,1]] #first and second
# df_e3.iloc['ProductA'] #Not working with index

                    Bob           Sue
ProductA    I liked it.  Pretty good.
ProductB  It was awful.        Bland.

## Series 

Series = list

In [9]:
s1 = pd.Series([1,2,3,4])
#same as dataframe can have index
s2 = pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A') #does not have column name but have an overarll name 
s2

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [13]:
pd.read_csv(index_col=int) # with this you can specify the column to be grabbed as a index

TypeError: DataFrame.__init__() got an unexpected keyword argument 'index_col'

## Iloc
Depends first in the location, numerical posiiton 
I see it as a "Integer Location" 
iloc[number]

In [71]:
#df_e3.Sue df_e3['Sue']
#ILOC returns a series
# df_e3.Bob[0] df_e3.Bob.0 not working ->>><<> <3
#iloc[POSITION]
df_e3.iloc[0] #Gets the first row data  
df_e3.iloc[:,0] #gets all data but the first column
df_e3.iloc[[0,1]] #first and second
# df_e3.iloc['ProductA'] #Not working with index

                    Bob           Sue
ProductA    I liked it.  Pretty good.
ProductB  It was awful.        Bland.

## Loc
What it depends is first the data index value

iloc is conceptually simpler than loc because it ignores the dataset's indices. When we use iloc we treat the dataset like a big matrix (a list of lists), one that we have to index into by position. loc, by contrast, uses the information in the indices to do its work.

iloc uses the Python stdlib indexing scheme, where the first element of the range is included and the last one excluded. So 0:10 will select entries 0,...,9. loc, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.

In [72]:
df_e3.iloc[0:1] #range exclusive only 0

                  Bob           Sue
ProductA  I liked it.  Pretty good.

In [81]:
# df_e3.loc['ProductA','Bob']
df_e3_i.loc[0:1,['Bob','Sue']] #takes range inclusive 0-1 0 and 1
df_e3.loc["ProductA":"ProductC",['Bob','Sue']] #FROM PRODUCT A TO PRODUCTC IN INDEXXES :o wow

                    Bob           Sue
ProductA    I liked it.  Pretty good.
ProductB  It was awful.        Bland.
ProductC              x             y